# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv('chipotle.tsv', delimiter='\t')

### Step 4. See the first 10 entries

In [33]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [6]:
# Solution 1
len(chipo)

4622

In [5]:
# Solution 2
chipo.shape

(4622, 5)

### Step 6. What is the number of columns in the dataset?

In [7]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [9]:
for col in chipo.columns:
    print(col)

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [10]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [44]:
chipo.groupby('item_name').mean().nlargest(5, 'quantity')

                                        order_id  quantity
item_name
Bowl                                  236.000000  2.000000
Bottled Water                        1086.074074  1.302469
Chips and Tomatillo-Red Chili Salsa   917.200000  1.250000
Canned Soda                           734.576923  1.211538
Chips and Fresh Tomato Salsa          912.900000  1.181818

### Step 10. For the most-ordered item, how many items were ordered?

In [31]:
chipo.groupby('item_name')['quantity'].sum().nlargest(1)[0]

761

### Step 11. What was the most ordered item in the choice_description column?

In [37]:
chipo.groupby('choice_description')['quantity'].sum().nlargest(1)

choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

### Step 12. How many items were orderd in total?

In [38]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [47]:
chipo['item_price'].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [53]:
rem_sign = lambda x: float(x[1:])
chipo['item_price'] = chipo['item_price'].map(rem_sign)

TypeError: 'float' object is not subscriptable

#### Step 13.c. Check the item price type

In [51]:
chipo['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [52]:
chipo['item_price'].sum()

34500.16

### Step 15. How many orders were made in the period?

In [62]:
chipo['order_id'].nunique()

1834

### Step 16. What is the average revenue amount per order?

In [55]:
# Solution 1
print(chipo['item_price'].sum()/chipo['order_id'].nunique())

18.811428571428575

In [58]:
# Solution 2
chipo.groupby('order_id')['item_price'].sum().mean()

18.811428571428568

### Step 17. How many different items are sold?

In [59]:
chipo['item_name'].nunique()

50